.Dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.DialogsItem .Dialog {
    padding: 10px;
}
.DialogsItem .active {
    color: gold;
}
.DialogsItem .Dialog a{
    text-decoration: none;
    color: white;
}
.Messages {

}
.Message {
    padding: 10px;
}